.Expenses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 121px;
}

.Expenses .header {
    font-size: 80px;
    margin-top: 32px;
}

.Expenses .form {
    display: flex;
    gap: 112.8px;
    margin-bottom: 111.5px;
    margin-top: 83px;
    flex-wrap: wrap;
    justify-content: center;
}

.Expenses .formSection {
    display: flex;
    flex-direction: column;
    width: 369px;
    gap: 15.5px;
}

.Expenses .formSection label {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.Expenses .formSection input,
select {
    border: 1px solid #1E1E20;
    font-size: 20px;
    padding-left: 24px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    border-radius: 11px;
}

.Expenses .formSection select {
    background-color: #1E1E20;
    color: white;
    width: 369px;
    border-right: 21px solid #1E1E20;
}

.Expenses button {
    padding: 9px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
}

.Expenses button.btn {
    background-color: #1E1E20;
    color: white;
}

.Expenses .table {
    font-family: Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Expenses .table .title {
    font-weight: bold;
    align-self: flex-start;
    font-size: 38px;
    margin-left: 113px;
    margin-top: 94px;
    margin-bottom: 46.5px;
}

.Expenses .table .tableContent {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Expenses .table table {
    border: 1px solid #1E1E20;
    border-collapse: collapse;
}

.Expenses .table table {
    border: 1px solid #1E1E20;
    border-collapse: collapse;
}

.Expenses .table table tr {
    background-color: #1E1E20;
    color: white;
}

.Expenses .table table td {
    font-size: 16px;
    min-width: 160px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 10px;
    border: .5px solid lightgrey;
}

.Expenses .table table tbody td:nth-child(1),
.Expenses .table table thead td {
    font-weight: bold;
    text-align: center;
    padding-left: 0px;
}

.Expenses .table table td.id {
    min-width: 70px;
}

.Expenses .table table td.action {
    text-align: center;
    padding-left: 0px;
}

.Expenses .table table tr:nth-child(even) {
    background-color: white;
    color: #1E1E20;
}

.Expenses .table table tr:nth-child(odd) button {
    background-color: transparent;
    color: white;
}

.Expenses .table .tableContent .noTable {
    font-size: 60px;
}
.btnTableDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnTableDetails .btn {
    width: fit-content;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 10px;
}